<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>

<div>
    <div>
        <h1>Login</h1>
    </div>
    <form method="post" action="/login" class="form-container">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password </label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Log in</button>

    </form>
</div>

</body>